<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tables | Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="/static/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/all.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/jquery.news-ticker.css">
</head>
<body>
    <div>
        <!--BEGIN THEME SETTING-->
        <div id="theme-setting">
            <a href="#" data-toggle="dropdown" data-step="1" data-intro="&lt;b&gt;Many styles&lt;/b&gt; and &lt;b&gt;colors&lt;/b&gt; be created for you. Let choose one and enjoy it!"
                data-position="left" class="btn-theme-setting"><i class="fa fa-cog"></i></a>
            <div class="content-theme-setting">
                <select id="sid" class="form-control">
                    <option value = 'select_all'  selected="selected">SELECT</option>
                    <option value = 'update' >UPDATE</option>
                </select>
            </div>
        </div>
        <!--END THEME SETTING-->
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">KAdmin</span><span style="display: none" class="logo-text-icon">µ</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
                <form id="topbar-search" action="" method="" class="hidden-sm hidden-xs">
                    <div class="input-icon right text-white"><a href="#"><i class="fa fa-search"></i></a><input type="text" placeholder="Search here..." class="form-control text-white"/></div>
                </form>
                <div class="news-update-box hidden-xs"><span class="text-uppercase mrm pull-left text-white">News:</span>
                    <ul id="news-update" class="ticker list-unstyled">
                        <li>Welcome to KAdmin - Responsive Multi-Style Admin Template</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</li>
                    </ul>
                </div>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i><span class="badge badge-green">3</span></a>
                        
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-envelope fa-fw"></i><span class="badge badge-orange">7</span></a>
                        
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-tasks fa-fw"></i><span class="badge badge-yellow">8</span></a>
                        
                    </li>
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="/static/images/avatar/48.jpg" alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">Robert John</span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                            <li><a href="#"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="Login.html"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                    <li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" data-step="4" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" class="btn-chat"><i class="fa fa-comments"></i><span class="badge badge-info">3</span></a></li>
                </ul>
            </div>
        </nav>
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li><a href="/templates/dashboard.html"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    <li><a href="/templates/Layout.html"><i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Layouts</span></a>
                       
                    </li>
                    <li><a href="/templates/UIElements.html"><i class="fa fa-send-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">UI Elements</span></a>
                       
                    </li>
                    <li><a href="/templates/Forms.html"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Forms</span></a>
                      
                    </li>
                    <li class="active"><a href="/templates/Tables.html"><i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Tables</span></a>
                          
                    </li>
                    <li><a href="/templates/DataGrid.html"><i class="fa fa-database fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Data Grids</span></a>
                      
                    </li>
                    <li><a href="/templates/Pages.html"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-yellow"></div>
                    </i><span class="menu-title">Pages</span></a>
                       
                    </li>
                    <li><a href="/templates/Extras.html"><i class="fa fa-gift fa-fw">
                        <div class="icon-bg bg-grey"></div>
                    </i><span class="menu-title">Extras</span></a>
                      
                    </li>
                    <li><a href="/templates/Dropdown.html"><i class="fa fa-sitemap fa-fw">
                        <div class="icon-bg bg-dark"></div>
                    </i><span class="menu-title">Multi-Level Dropdown</span></a>
                      
                    </li>
                    <li><a href="/templates/Email.html"><i class="fa fa-envelope-o">
                        <div class="icon-bg bg-primary"></div>
                    </i><span class="menu-title">Email</span></a>
                      
                    </li>
                    <li><a href="/templates/Charts.html"><i class="fa fa-bar-chart-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Charts</span></a>
                       
                    </li>
                    <li><a href="/templates/Animation.html"><i class="fa fa-slack fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Animations</span></a></li>
                </ul>
            </div>
        </nav>
          
          
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Tables</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="/templates/dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#">Tables</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Tables</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->

                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                            <div class="col-lg-12">

                                            <div class="col-md-12">
                                                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                                    999999999999
                                                </div>
                                            </div>
                            </div>

                            <div class="col-lg-12">
                            <div class="row">
                    <div class="col-lg-6" style="">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">Table Data</div>
                            <div class="panel-body">
                                <div class="form-group">
                                                        <label for="inputMessage" class="control-label">
                                                            INPUT SQL</label><textarea rows="5" class="form-control" id = 'textarea_01'  placeholder=" SELECT  * FROM FS_CALL ">
                                    select * from fs_call limit 5
                                </textarea></div>
                                                    <div class="form-group mbn">
                                                        <div class="checkbox">
                                                             <button type="submit" class="btn btn-green btn-block btn-finish-sub">Finish</button>
                                                        </div>
                                                    </div>

                            </div>
                        </div>
                        <div class="panel panel-green">
                            <div class="panel-heading">Bordered Table</div>
                            <div class="panel-body">
                                <table class="table table-hover table-bordered">
                                    <thead id = "btn-header"></thead>
                                    <tbody id = "btn-tbody"><tr><td>暂无数据</td></tr></tbody>
                                </table>
                            </div>
                        </div>
                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="#">2014 © KAdmin Responsive Multi-Purpose Template</a></div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <script src="/static/script/jquery-1.10.2.min.js"></script>
    <script src="/static/script/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/script/jquery-ui.js"></script>
    <script src="/static/script/bootstrap.min.js"></script>
    <script src="/static/script/bootstrap-hover-dropdown.js"></script>
    <script src="/static/script/html5shiv.js"></script>
    <script src="/static/script/respond.min.js"></script>
    <script src="/static/script/jquery.metisMenu.js"></script>
    <script src="/static/script/jquery.slimscroll.js"></script>
    <script src="/static/script/jquery.cookie.js"></script>
    <script src="/static/script/icheck.min.js"></script>
    <script src="/static/script/custom.min.js"></script>
    <script src="/static/script/jquery.news-ticker.js"></script>
    <script src="/static/script/jquery.menu.js"></script>
    <script src="/static/script/pace.min.js"></script>
    <script src="/static/script/holder.js"></script>
    <script src="/static/script/responsive-tabs.js"></script>
    <script src="/static/script/jquery.flot.js"></script>
    <script src="/static/script/jquery.flot.categories.js"></script>
    <script src="/static/script/jquery.flot.pie.js"></script>
    <script src="/static/script/jquery.flot.tooltip.js"></script>
    <script src="/static/script/jquery.flot.resize.js"></script>
    <script src="/static/script/jquery.flot.fillbetween.js"></script>
    <script src="/static/script/jquery.flot.stack.js"></script>
    <script src="/static/script/jquery.flot.spline.js"></script>
    <script src="/static/script/zabuto_calendar.min.js"></script>
    <script src="/static/script/index.js"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <!--<script src="/static/script/highcharts.js"></script>-->
    <!--<script src="/static/script/data.js"></script>-->
    <!--<script src="/static/script/drilldown.js"></script>-->
    <!--<script src="/static/script/exporting.js"></script>-->
    <!--<script src="/static/script/highcharts-more.js"></script>-->
    <!--<script src="/static/script/charts-highchart-pie.js"></script>-->
    <!--<script src="/static/script/charts-highchart-more.js"></script>-->
    <!--CORE JAVASCRIPT-->
    <script src="/static/script/main.js"></script>
    <script>
    $(document).ready(function(){
      $('.btn-finish-sub').click(function(){
          sel_val = $('#sid').val();
          sql_val = $.trim($('#textarea_01').val());
          if(sel_val == '---请选择---'){
              alert('请选择要执行的操作');
              return false;
          }
          if(sel_val == "select_all" && sql_val.indexOf("select")  == -1 ){
              alert("select sql中 未发现 select \n\n "+sql_val);
                return false
            }
          if(sel_val == "update" && sql_val.indexOf("update")  == -1 ){
              alert(" update sql 中未发现 update \n\n "+sql_val);
                return false
            }
          params = {'flg':sel_val,'sql_string':sql_val};
          $.ajax({
              url:'/aicyber/resource/api',
              type:'POST', //GET
              async:true,    //或false,是否异步
              data:JSON.stringify(params),
              contentType: 'application/json',
              dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
              success:function(json,textStatus,jqXHR){
                  console.log(json.length);
                  if(json.status = 200){
                      $('#btn-tbody').empty();
                      $('#btn-header').empty();
                     if(sel_val == "select_all"){
                            datalist = json.data;
                            console.log(json);
                            for(var i in json){
                                str = "";
                              obj = json[i];
                                 strheader = "<tr>";
                                 strbody = "<tr>";
                                 $.each(obj, function (n, value) {
                                       strheader+="<th>" +n+"</th>";
                                       strbody += "<td>" + value + "</td>";
                                   });
                                 strheader += "</tr>";
                                  strbody  += "</tr>";
                                 if(i==0){
                                     $('#btn-header').append(strheader)
                                 }
                                 $('#btn-tbody').append(strbody)
                            }
                      }else if(sel_val == "update"){
                         str = '执行成功！！！';
                        $('#update_sql').append(str)

                     }
                  }
                  $('#resp_sql').html(sql_val)
              }
})
      })
    });



</script>
</body>
</html>
